<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- Custom CSS -->
    <!-- bootstrap shit -->
    <!-- <link rel="stylesheet" href="assets/plugins/bootstrap/bootstrap-flex.css">
    <link rel="stylesheet" href="assets/plugins/bootstrap/tether/tether.min.css"> -->
    <link rel="stylesheet" href="assets/css/main.css">

  </head>
  <body>

    {{ content }}

    <script src="assets/plugins/jquery/jquery.min.js"></script>
    <!-- bootstrap shit -->
    <!-- <script src="assets/plugins/bootstrap/tether/tether.min.js"></script>
    <script src="assets/plugins/bootstrap/bootstrap.min.js"></script> -->
    <script src="assets/js/main.js"></script>

  </body>
</html>
